<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="icon" href="https://cdn.acwing.com/media/user/profile/photo/390068_lg_f037b0f8dc.jpeg">
    <title>算法模版</title>
</head>

<body>
    <hr>
    <div class="bck_title">
        <div class="tit">算法模板</div>
    </div>
    <hr>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success btn-lg btn-lg-custom">
                    <a href="{% url 'template1' %}" style="color: inherit; text-decoration: none;">常用代码模板1 —— 基础算法</a>
                </button>
                <hr>
                <button type="button" class="btn btn-success btn-lg btn-lg-custom">
                    <a href="{% url 'template2' %}" style="color: inherit; text-decoration: none;">常用代码模板2 —— 数据结构</a>
                </button>
                <hr>
                <button type="button" class="btn btn-success btn-lg btn-lg-custom">
                    <a href="{% url 'template3' %}" style="color: inherit; text-decoration: none;">常用代码模板3 —— 搜索图论</a>
                </button>
                <hr>
                <button type="button" class="btn btn-success btn-lg btn-lg-custom">
                    <a href="{% url 'template4' %}" style="color: inherit; text-decoration: none;">常用代码模板4 —— 数学知识</a>
                </button>
                <hr>
            </div>
        </div>
    </div>

   <footer>
        来源：AcWing
        <br>
        著作权归yxc所有。商业转载请联系作者获得授权，非商业转载请注明出处。
    </footer> 
</body>

</html>
